<%include ./partials/navbar%>
 <div class='container'>
     <div class='col-md-8 col-md-offset-2 text-center'>
        <div class='thumbnail'>
            <img src="" alt="student image"> 
        </div>

     <div class='caption-full'>
            <h4>Name:- <%=student.name%></h4>
            <h4>Email:- <%=student.email%></h4>
            <h4>Course of Study:- <%=student.course%></h4>
            <h4>Current Year :- <%=student.year%></h4>
            <a href="/students/<%=student._id%>/edit" class='btn btn-info btn-lg'> 
            <span class='glyphicon glyphicon-edit'></span> Edit</a>
    </div>
   
     </div>

 </div>

<%include ./partials/footer%>
