<%include ./partials/navbar%>
<div class='container'>
     <table class='table table-bordered table-striped table-responsive table-condensed'>
        <thead>
        <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Course</td>
        <td>year</td>
        <td>Edit</td>
        <td>Delete</td>
        </tr>
        </thead>
        <tbody>
            
      

  <%students.forEach(student =>{%>
   <tr>
    <td><a href='/students/<%=student._id%>'><%=student.name%></a></td>
    <td><%=student.email%></td>
    <td><%=student.course%></td>
    <td><%=student.year%></td>
    <td>
        <a class='btn btn-info' href = '/students/<%=student._id%>/edit' >
            <span class='glyphicon glyphicon-edit'></span>
        </a>
    </td>
    <td>
        <form action = '/students/<%=student._id%>/delete' method='POST'>
            <button type="" class='btn btn-danger'><span class='glyphicon glyphicon-remove'></span></button>
        </form>
    </td>

   </tr>
 
  <%})%>
      </tbody>
      </table>

    <div>
    <div class='text-center'>

          
        
         <%if(page > 1){%>
           
            <a class='btn btn-primary'href="/students/page/<%=page-1%>">
            <span class='glyphicon glyphicon-chevron-left'></span> Prev
            </a>
       <%}%>
     <span class='lead'> <%=count%> Results in <%=pages%> pages</span> 
        <%if(page < pages){%>
            
            <a class='btn btn-primary' href="/students/page/<%=page+1%>">
              Next
            <span class='glyphicon glyphicon-chevron-right'></span>
            </a>
       <%}%>
    </div>
 
    </div>

</div>
   
<%include ./partials/footer%>
